/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ==================================================================================================================================================== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

/*GLOBALES*/
.contenedor {
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: 'Bellota', cursive;
}

button{
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/*UTILIDADES*/

.centrar-texto {
  text-align: center;
}

.texto-blancho {
  color: white;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}


/*HEADER*/

.head-page{
  background-image: url(../img/mid.jpg);
  height: 100vh;
  background-position: center center;
  opacity: 40%;
}

.contenido-header{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

.contenido-header .barra-sup{
  width: 100%;
  display: flex;
  background-color: #999;
  color: white;
  justify-content: space-between;
  height: 3rem;
}

.menu{
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ccc;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 500px;

  transition: transform 500ms;
}

.menu .informacion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 48%;
  width: 100%;
  padding: 0 3rem;
  padding-top: 4rem;
}

.menu .informacion ul{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.menu .informacion ul li a{
  font-size: 2rem;
}

.menu .informacion ul li a h4{
  font-size: 1rem;
}

.menu .relacionado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 48%;
  width: 100%;
  margin: 0;
  padding-top: 6rem;
}

.menu .relacionado li{
  flex-basis: calc(50% - 1rem);
}

.menu .relacionado li h4{
  font-size: 1rem;
}
.menu .relacionado li p{
  font-size: .9rem;
}
.contenido-header .titulos h1{
  font-size: 4rem;
  text-align: center;
}
/*FORMULARIO*/


.form-all{
  width: 550px;
  margin: 0 auto;
  background-color: #ccc;
}

@media only screen and (max-width: 768px) {
  .form-all{
    width: 90%;
  }
}

.form-all .formulario{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-all .formulario .recuadro{
  padding: 0 1rem 1rem 1rem;
}

.form-all .formulario .recuadro input[type="text"]{
  display: block;
  width: 100%;
  background-color: #999;
  color: white;
  border-radius: 5px;
  padding: .24rem;
}
.form-all .formulario .recuadro input[type="number"]{
  display: block;
  width: 100%;
  background-color: #999;
  color: white;
  border-radius: 5px;
  padding: .24rem;
}



/*      CUADRATURA GAUSSIANA    */
.contenido-header .cg {
  width: 100%;
  margin: 0;
}


.contenido-header .cg h2 {
  color:  black;
  font-weight: bold;
}

table {
  margin: 0 auto;
  width: 80%;
  border: 1px solid white;
}

th,td {
  text-align: center;
  vertical-align: top;
  border: 1px solid white;
  background-color: #ccc;
}

th {
  width:4%;
}

td {
  width: 16%;
}

.primeraFila td {
  width: 32%;
}

/* ====================================================================================================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}